.cart-icon {
  &:hover {
    background-color: transparent !important;
    color: $fonts !important;
  }
}

.cart-total-price {
  text-align: right;
  margin: 15vh 0 1vh 0;
  font-weight: 600;
}

.clear-cart {
  cursor: pointer;
  text-align: center;
  padding: 20px 0;
}

