.total-order-container {
  @include flex-row;
  justify-content: space-between;
  margin: 0 10vw;
  .checkout-items-container {
    width: 20vw;
    .checkout-empty-cart-notif {
      @include flex-row;
      .empty-cart-checkout {
        margin-top: 10vh;
        text-align: center;
        font-size: 1vw;
      }
      .checkout-to-products {
        margin: 5vh 0;
        font-size: 0.8vw;
        list-style: lower-latin;
        padding: 10px 15px;
        color: $fonts;
        &:hover {
          transition: all 600ms;
          background-color: $light-pink;
        }
      }
    }
    .checkout-items {
      @include flex-column;
      width: 40vw;
      height: 80vh;
      .checkout-cart-items {
        @include flex-row;
        width: 40vw;
        .checkout-cart-body-container {
          .checkout-item-container {
            .checkout-item-img {
              width: 4vw;
            }
            .checkout-cart-item-info-container {
              padding: 0 15px;
              .checkout-delete-product-btn {
                font-size: 0.5vw;
                width: 1vw;
                background-color: $bg-color;
              }
            }
            .checkout-cart-item-name {
              font-size: 0.7vw;
            }
          }
        }
      }
      .checkout-total {
        .checkout-total-price {
          font-size: 1vw;
          margin-top: 5vh;
        }
      }
    }
  }
  .form-container {
    min-height: 100vh;
    width: 30vw;
    @include flex-column;
    .input-container {
      margin: 5vh 0;
    }
    .form-label {
      font-size: 1vw;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 768px) {
  .total-order-container {
    @include flex-column;
    .checkout-items-container {
      width: 100vw;
      @include flex-column;
      .checkout-empty-cart-notif {
        width: 60vw;
        .empty-cart-checkout {
          font-size: 4vw;
        }
        .checkout-to-products {
          font-size: 3vw;
        }
      }
      .checkout-items {
        width: 100vw;
        height: fit-content;
        .checkout-cart-items {
          @include flex-column;
          flex-wrap: nowrap;
          width: fit-content;
          .checkout-cart-body-container {
            @include flex-row;
            margin: 0 3vw;
            .checkout-item-container {
              width: 40vw;
              height: 15vh;
              .checkout-cart-img-container {
                .checkout-item-img {
                  width: 20vw;
                  height: fit-content;
                }
              }
              .checkout-cart-item-info-container {
                padding: 0;
                margin: 0;
                height: fit-content;
                .checkout-delete-product-btn {
                  font-size: 2.5vw;
                }
                .checkout-cart-item-name {
                  font-size: 3vw;
                }
                .checkout-cart-item-price{
                  font-size: 2vw;
                }
              }
            }
          }
        }
        .checkout-total{
          .checkout-total-price{
            font-size: 4vw;
          }
        }
      }
    }
    .form-container {
      width: 90%;
      .input-container {
        .form-label {
          font-size: 4vw;
        }
      }
    }
  }
}
