.cart-offcanvas {
  height: fit-content;
  width: 90%;
  .empty-cart-notif {
    @include flex-column;
    .empty-cart {
      margin-top: 10vh;
      vertical-align: middle;
      width: 15vw;
      text-align: center;
      font-size: 1vw;
    }
    .cart-to-products {
      margin-top: 5vh;
      font-size: 0.6vw;
      padding: 10px 20px;
      font-weight: 600;
      &:hover {
        color: $fonts;
        background-color: $light-pink;
      }
    }
  }
}
