

#dropdown-basic {
  @include flex-row;
  outline: none;
  border: none;
  background-color: transparent;
  color: $fonts;
  font-size: 0.8vw;
  font-weight: 600;
  &:hover {
    font-size: 0.9vw;
  }
  .dropdown-menu.show {
    width: 15vw;
  }
}

// found in ProductDetail.js, Buttons.js, CartBody.js and OrderCheckout.js
.ui.button {
  font-family: "Poiret One", cursive;
  background-color: $yellow;
  color: $fonts;
  width: 10vw;
  transition: all 600ms;
  &:hover {
    background-color: $fonts;
    color: $yellow;
    transition: all 600ms;
  }
}

@media screen and (max-width: 768px) {
  .ui.button {
    font-size: 2.5vw;
    font-family: "Poiret One", cursive;
  }
}
