.carr-img {
  width: 20vw;
  border-radius: 5px;
}

.item-container {
  @include flex-row;
  width: 100%;
  height: 100vh;
  background-color: $bg-color;
  margin-top: 50px;
  .item-img {
    width: 20vw;
  }
  .item-info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 40vw;
    height: fit-content;
    .item-title {
      font-size: 2vw;
      font-weight: 600;
    }
    .item-price {
      font-size: 1vw;
      color: $salmon;
      font-weight: 600;
    }
    .item-desc {
      font-size: 1vw;
      padding-top: 20px;
      width: 40vw;
    }
    .item-design-disclaimer {
      font-size: 0.8vw;
      font-weight: 600;
      padding-top: 20px;
      letter-spacing: 3px;
      width: 30vw;
    }
    .item-qty {
      padding-top: 30px;
      font-size: 1vw;
    }
    .btn-container {
      @include flex-row;
      width: 25vw;
      justify-content: space-between;
    }
    .btn-to-products {
      width: fit-content;
      font-weight: 600;
      font-size: 0.6vw;
      margin-top: 1vh;
      padding: 10px 15px;
      &:hover {
        background-color: $light-pink;
        color: $fonts !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .item-container {
    height: fit-content;
    @include flex-column;
    .item-img {
      width: 50vw;
      margin-bottom: 10vh;
      .carr-img {
        width: 50vw;
      }
    }
    .item-info {
      margin: 0%;
      padding: 0%;
      .item-title {
        font-size: 5vw;
      }
      .item-price {
        font-size: 3vw;
      }
      .item-desc {
        font-size: 2.5vw;
        width: 50vw;
      }
      .item-design-disclaimer {
        font-size: 2vw;
        width: 60vw;
      }
      .item-qty {
        font-size: 3vw;
      }
    }
    .detail-btn-container {
      text-align: center;
      @include flex-column;
      .btn-to-products {
        font-size: 2vw;
        font-weight: 600;
        width: 30vw;
        height: 4vh;
        margin-bottom: 10vh;
        background-color: $light-pink;
      }
    }
  }
}
