$bg-color: rgb(237, 233, 225);
$bg-color-opacity: rgba(237, 233, 225, .97);
$fonts: rgb(34, 34, 34);
$light-pink: rgb(249, 187, 181);
$salmon: rgba(236, 117, 90, 0.8);
$blue: rgb(0, 103, 142);
$light-green: rgb(128, 179, 174);
$yellow: rgba(245,234,20, 0.8);