.cart-body-container {
  background-color: none;
  @include flex-column;
  .item-container {
    background-color: none;
    height: fit-content;
    @include flex-row;
    width: 15vw;
    justify-content: space-between;
    .cart-img-container {
      .item-img {
        width: 5vw;
      }
    }
    .cart-item-info-container {
      @include flex-column;
      align-items: flex-end;
      justify-content: space-between;
      padding: 0.5vw;
      width: 10vw;
      .cart-item-name {
        font-size: 0.7vw;
        padding: 1.5vh 0;
        width: 8vw;
      }
      .cart-item-price {
        font-size: 0.5vw;
        font-weight: 600;
      }
      .delete-product-btn {
        border: none;
        background-color: $bg-color;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .cart-body-container {
    @include flex-column;
    .item-container {
      height: 20vh;
      width: 80%;
      .cart-img-container {
        height: 100%;
        width: 50%;
        .item-img {
          height: 100%;
          width: 100%;
          margin: 0%;
        }
      }
      .cart-item-info-container {
        width: 50%;
        height: 100%;
        padding: 20px 0;
        .cart-item-name {
          font-size: 3vw;
          width: 80%;
          text-align: center;
        }
        .cart-item-price {
          font-size: 2vw;
        }
      }
    }
  }
}
