.faq-container {
  @include flex-column;
  // .faq-start {
  //   width: 100%;
  //   height: 100vh;
  //   background-image: url("../../../assets/image/backgrounds/flower-patron-box.png");
  //   @include bg-fixed;
  // }

  .acc-info-container {
    @include flex-row;
    .acc-container {
      @include flex-column;
      min-height: 70vh;
      .acc-item {
        width: 40vw;
        .accordion-button {
          font-size: 1vw;
          background-color: $light-pink;
          color: $fonts;
          border-color: $fonts;
          font-weight: 600;
        }
        .accordion-body {
          font-size: 1vw;
          background-color: $bg-color;
        }
      }
    }

    .faq-contact-info {
      @include flex-column;
      .contact-info {
        margin: 5vh 0;
        font-size: 1vw;
        width: 40vw;
        text-align: center;
      }
      .contacts-links {
        @include flex-row;
        padding: 10px 15px;
        .faq-links {
          padding: 0 20px;
          margin: 0;
          transition: all 600ms;
          &:hover {
            transition: all 600ms;
            font-size: 0.8vw;
            color: $light-pink;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .faq-container {
    @include flex-column;
    // .faq-start {
    //   background-size: cover;
    //   background-position: top;
    //   height: 80vh;
    //   width: 100vw;
    // }
    .acc-info-container {
      margin: 0%;
      padding: 0;
      .acc-container {
        .acc-item {
          width: 80vw;
          .accordion-button {
            font-size: 3vw;
            font-weight: 600;
          }
          .accordion-body {
            font-size: 3vw;
          }
        }
      }
      .faq-contact-info {
        .contact-info {
          padding: 0 0 3vh 0;
          font-size: 3vw;
          width: fit-content;
        }
        .contacts-links{
          margin-bottom: 10vh;
        }
      }
    }
  }
}
