.card-container {
  margin-top: 10vh;
  .card {
    background-color: $bg-color;
    @include flex-column;
    width: 15vw;
    margin: 30px;
    &:hover {
      color: $fonts !important;
      box-shadow: 5px 4px 12px -6px $fonts;
      transform: scale(1.1);
    }
    .card-img-top {
      width: 15vw;
    }
    .card-body {
      width: 100%;
      @include flex-column;
      .card-title {
        font-size: 1.3vw;
        font-weight: 600;
      }
      .card-price {
        padding-top: 10px;
        font-size: 0.8vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    flex-wrap: wrap;
    padding: 0%;
    margin: 0%;
    .card {
      width: 35vw;
      height: fit-content;
      .card-img-top {
        width: 35vw;
        height: fit-content;
      }
      .card-body {
        .card-title {
          font-size: 4vw;
          text-align: center;
        }
        .card-subtitle {
          font-size: 2vw;
        }
      }
    }
  }
}
