.footer-container {
  position: static;
  bottom: 0;
  @include flex-column;
  justify-content: space-evenly;
  height: 40vh;
  width: 100%;
  background-color: $light-pink;
  .footer-nav-container {
    @include flex-row;
    justify-content: space-evenly;
    width: 100%;
    .conect,
    .explore {
      @include flex-column;
      a {
        color: $fonts;
        @include text-deco-none;
      }
    }
  }

  .contact {
    h3 {
      font-size: 15px;
    }
  }

  .disclaimer {
    h4 {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer-container {
    height: fit-content;
    .footer-nav-container {
      @include flex-row;
      .conect,
      .explore,
      .contact {
        align-content: center;
        padding: 5vh 0;
        width: 30vw;
        .section-title {
          font-size: 4vw;
          font-weight: 400;
          text-align: center;
        }
        .footer-section-link {
          font-size: 2vw;
          text-align: center;
        }
      }
    }
    .disclaimer {
      margin: 5vh 0;
      .disclaimer-text {
        font-size: 2vw;
        text-align: center;
      }
    }
  }
}
