*,
*:before,
*:after {
  font-family: 'Poiret One', cursive;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
  scroll-behavior: smooth;
}
.body {
  background-color: $bg-color;
}
