.titles-web {
  font-family: "Amatic SC", cursive;
}

.texts {
  font-family: "Poiret One", cursive;
  font-weight: 600;
}

.b-radius {
  border-radius: 10px;
}

.b-radius-5 {
  border-radius: 5px;
}
.link-router {
  border: none;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  color: $fonts;
  &:hover {
    color: $fonts !important;
  }
}

