.mobile-icons-container {
  display: none;
}




@media screen and (max-width: 768px) {
  .mobile-icons-container {
    z-index: 1000;
    display: block;
    width: fit-content;
    @include flex-column;
    position: fixed;
    top: 3vh;
    .mobile-icons {
      font-size: 5vw;
      color: $fonts;
      padding: 5px 0;
    }
  }
}
